.task {
  margin-top: 1.5rem;
  width: 47.375;
  min-height: 4.5rem;
  height: auto;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.task + .task {
  margin-top: 0.75rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  padding: 1rem 0;
}

.container label {
}

.taskText {
  color: var(--gray-100);
  width: 39.5rem;

  font-size: 0.88rem;
}

.container button {
  background-color: transparent;
  color: var(--gray-300);
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.container button:hover {
  color: var(--danger-warning);
  background-color: var(--gray-400);
}
