.task {
  margin-top: 1.5rem;
  max-width: 47.375rem;
  width: auto;
  min-height: 3rem;
  height: auto;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.task + .task {
  margin-top: 0.75rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 1rem 0;
}

.container label input[type="checkbox"] {
  display: none;
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.unchecked-chexbox {
  border: 2px solid var(--blue-light);
}

.unchecked-chexbox:hover {
  border: 2px solid var(--blue-dark);
  background-color: var(--blue-light);
}

.checked-chexbox {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.checked-chexbox:hover {
  border: 2px solid var(--purple-light);
  background-color: var(--purple-light);
}

.taskText {
  color: var(--gray-100);
  width: 39.5rem;

  font-size: 0.88rem;
  overflow: hidden;
  word-wrap: break-word;
}

.checked-taskText {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container button {
  background-color: transparent;
  color: var(--gray-300);
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.container button:hover {
  color: var(--danger-warning);
  background-color: var(--gray-400);
}

@media (max-width: 768px) {
  .taskText {
    width: 10rem;
    overflow: hidden;
    word-wrap: break-word;
  }
}
