.tasksArticle {
  width: auto;
  margin-top: 4rem;

  display: grid;
  place-items: center;
}

.tasksArticle header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tasksHeader {
  display: flex;
  flex-direction: row;
  padding: 0 0.2rem;
  width: auto;

  gap: 0.5rem;
}

.tasksHeader h3 {
  color: var(--blue-light);
  font-size: 0.85rem;
}

.tasksHeader p {
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;

  padding: 0.1rem 0.5rem;
  border-radius: 16px;
}

.tasksHeader span {
  color: var(--purple-light);
  font-size: 0.85rem;
  font-weight: bold;
}

.tasksMain {
  width: 100%;
  margin-bottom: 1.5rem;
}
