.taskbar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -1.75rem;
  height: 3.5rem;
  width: auto;
}

.taskbarForm {
  height: 100%;

  display: flex;
  flex-direction: row;

  gap: 0.5rem;
}

.taskbarForm textarea {
  width: 40rem;

  resize: none;
  overflow: hidden;
  border: 1px solid var(--gray-700);
  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
  line-height: 1.4;

  background: var(--gray-500);
}

.taskbarForm textarea:focus {
  outline: transparent;
  box-shadow: 0 0 0 1px var(--purple-dark);
}

.taskbarForm textarea::placeholder {
  color: var(--gray-300);
}

.taskbarForm textarea:valid {
  color: var(--gray-100);
}

.taskbarForm button[type="submit"] {
  color: var(--gray-100);
  background: var(--blue-dark);
  border-radius: 8px;
  border: 0;

  width: 5.75rem;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.taskbarForm button[type="submit"]:hover {
  background: var(--blue-light);
}

@media (max-width: 768px) {
  .taskbar {
    height: 4rem;
  }
  .taskbarForm textarea {
    max-width: 40rem;
    width: auto;
  }
  .taskbarForm button[type="submit"] > span {
    display: none;
  }
}
