.container {
  width: auto;
  display: grid;
}

.wrapper {
  width: 736px;
  margin: 0.2rem auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .wrapper {
    width: 90%;
    padding: 1rem;
  }
}
