.container {
  width: auto;
  display: grid;
}

.wrapper {
  width: 47.375rem;
  margin: 0.2rem auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .container {
    width: auto;
  }
  .wrapper {
    max-width: 47.375rem;
    width: auto;
    padding: 1rem;
  }
}
